django>=4.2,<5
django-multiselectfield
django-oauth-toolkit>=2.3
django-parler
django-cors-headers
django-oidc-provider>=0.8.4
djangorestframework>=3.14
PyJWT>=2.8
django-helusers>=1.0
django-bootstrap4
psycopg2-binary
sentry-sdk
django-npm
django-compressor
django-inline-svg
django-environ
social-auth-core[openidconnect,saml]>=4.4
social-auth-app-django>=5.4
requests
jwcrypto
Pillow
django-crequest
django-ipware
geoip2
django-filter
python3-saml>=1.16
ruamel.yaml
pytz
django-translation-checker @ git+https://github.com/City-of-Helsinki/django-translation-checker.git@master
redis
django-redis
